 <% @groups.each do |group| %>
 <ul class="mt-4">
    <li class="media border border-secondary p-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(group.user, { size: 40 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to group.user.name, user_path(group.user) %> 
          <span>created</span>  <%= link_to group.name, group_path(group), class: 'btn btn-outline-primary' %>
        </div>
        <div class="media-body">
            <span><%= render 'group_users/join_button', group: group%></span>
              <% if current_user == group.user %>
                <span class="mr-2">
                  <%= link_to group, class:"btn btn-danger", data: { confirm: 'Groupを削除してもよろしいですか？' }, method: :delete do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </span> 
              <% end %>
              
              <span class="text-muted"><%= group.created_at.to_s(:datetime_jp) %></span>
        </div>
      </div>
    </li>
  </ul>
  <%= paginate @groups %>
<% end %>