<div class="row">
  <aside class="col-sm-4">
    <div class="card text-center">
      <h3 class="card-header"><%= @user.name %></h3>
      <ul class="card-group-flush">
        <li class="list-group-item"><img class="card-img-top rounded w-50" src="<%= gravatar_url(@user, { size: 50 }) %>" alt=""></li>
        <li class="list-group-item">
          <div class="card-text">
            <%= @user.profile %>
          </div>
        </li>
        <li class="list-group-item"><%= link_to 'Edit', edit_profile_path, class: 'btn btn-primary btn-inlineblock w-50' %></li>
      </ul>
    </div>
  </aside>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">JoiningGroups</h3>
      </div>
      <div class="card-body min-vh-100">
        <div>
          <%= render :template => 'users/favoritegroups' %>
        </div>
      </div>
    </div>
  </div>
</div>